<div class="content">
	<div class="images">
		<div class="jest">
			<img src="../../../assets/images/jest.png" alt="" />
		</div>
		<div class="vs">
			VS
		</div>
		<div class="karma-jasmine">
			<img class="karma" src="../../../assets/images/karma.png" alt="" />
			<img class="jasmine" src="../../../assets/images/jasmine.svg" alt="" />
		</div>
	</div>
	<div class="author">
		<a href="https://github.com/thomas-lg">@thomas-lg</a>
	</div>
	<div class="angular">
		<img src="../../../assets/images/angular.svg" alt="" />
	</div>
</div>
