.items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	.item {
		border: 3px solid whitesmoke;
		padding: 40px;
		a {
			font-style: normal;
			color: whitesmoke;
		}
	}
}
.line {
	margin: 40px;
	border: 10px solid whitesmoke;
}
