.app {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	font-family: 'Source Code Pro for Powerline';
	font-size: large;
	font-weight: 400;
	color: whitesmoke;
	.menu {
	}
}
