<div class="title">
	Counter
</div>
<div class="container">
	<app-button class="item" [counter]="counter" [value]="1" (change)="modify($event)"></app-button>
	<app-button class="item" [counter]="counter" [value]="5" (change)="modify($event)"></app-button>
	<app-display class="item" [counter]="counter"> </app-display>
	<app-button class="item" [counter]="counter" [value]="-5" (change)="modify($event)"></app-button>
	<app-button class="item" [counter]="counter" [value]="-1" (change)="modify($event)"></app-button>
</div>
<div class="more">
	<app-even-odd [counter]="counter"></app-even-odd>
</div>
